DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_SESSION_SECRET="change_me_to_long_secret"
LINE_OA_CHANNEL_ACCESS_TOKEN=""
LINE_OA_TO_USER_ID=""
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
